{% extends base_template %}

{% block title %} Create Inventory Category {% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url "list_inventory_category" %}">Inventory Categories</a></li>
<span class="divider"><i class="icon-angle-right"></i></span>
<li>Create Inventory Category</li>
{% endblock %}

{% block pageheader %}
Create Inventory Category
{% endblock %}

{% block content %}
{%  if msg %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{msg}}</strong>
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <div class="row">
        <div class="span12">
            <input type="submit" value="Submit" class="btn"/>
        </div>
    </div>
</form>
{% if message %}
<script>
    bs_alert.success("{{ message }}");
</script>
{% endif %}
{% endblock %}
