<!DOCTYPE html>
{% extends "dashboard.html" %}
{% block title %}Cash Short Excess Report {% endblock %}
{% block breadcrumbs %}
{{ block.super }}
<li><a href="/day/journals2/{% now "Y" %} ">Day Journal Register</a></li>
{% endblock %}
{% block extra-head %}
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>-->
{% endblock %}
{% block pageheader %}
Cash Short Excess Report
{% endblock %}

{% block content %}
{% load day_filters %}
{% load ledger_filters %}
{% load filters %}
{% load humanize %}
{% load pagination_tags %}
{% load sorting_tags %}

<div class="row-fluid">
    <div class="pull-right">
        <input type="text" id="day-journal-date" class="date-picker" placeholder="Pick a date..." />
        <button id="day-journal-selection-button" class="btn btn-mini">Go</button>
    </div>
    <div class="pull-left">
    <span style="text-align:left;">Select A Year</span>&nbsp;<select id="year_select">
    {% for i in year_list %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
</select>
<button id="butt" class="btn btn-mini">Go</button>
</div>
</div>

<br/>
<br/>


<div class="tabbable">
    <ul class="nav nav-tabs">
        <li><a class="page" id="pagination1" href="#0" data-toggle="tab">January</a></li>
        <li><a class="page" id="pagination2" href="#1" data-toggle="tab">February</a></li>
        <li><a class="page" id="pagination3" href="#2" data-toggle="tab">March</a></li>
        <li><a class="page" id="pagination4" href="#3" data-toggle="tab">April</a></li>
        <li><a class="page" id="pagination5" href="#4" data-toggle="tab">May</a></li>
        <li><a class="page" id="pagination6" href="#5" data-toggle="tab">June</a></li>
        <li><a class="page" id="pagination7" href="#6" data-toggle="tab">July</a></li>
        <li><a class="page" id="pagination8" href="#7" data-toggle="tab">August</a></li>
        <li><a class="page" id="pagination9" href="#8" data-toggle="tab">September</a></li>
        <li><a class="page" id="pagination10" href="#9" data-toggle="tab">October</a></li>
        <li><a class="page" id="pagination11" href="#10" data-toggle="tab">November</a></li>
        <li><a class="page" id="pagination12" href="#11" data-toggle="tab">December</a></li>
    </ul>
    {% for data in obj %}
    <div class="tab-content mytable" id="{{forloop.counter}}" >
            <table class="table table-acubor table-bordered table-striped">
                <thead>
                    <th>Date</th>
                    <th>Voucher No</th>
                    <th>Actual Cash</th>
                    <th>Register Cash</th>
                    <th>Short</th>
                    <th>Excess</th>
                </thead>
                <tbody>
                {% for item in data %}
                {% with short_val=item.get_closing_balance|subtracting:item.cash_actual %}
                <tr id="{{forloop.counter}}">
                    <td><a href="/day/{{item.date|date:'Y-m-d'}}/#summary-cash">{{ item.date|date:'m/d/Y' }}</a> </td>
                    <td>{{ item.voucher_no }}</td>
                    <td style="text-align:right">{{ item.cash_actual|intcomma|decimalise }}</td>
                    <td style="text-align:right">{{ item.get_closing_balance|intcomma|decimalise }}</td>
                    {% if short_val < 0.0 %}
                        <td style="text-align:right">{{ short_val|positive|intcomma|decimalise }}</td>
                        <td style="text-align:right">-</td>
                    <script>
                        $('tr[id='+'{{forloop.counter}}'+']').addClass('invalid-row');
                    </script>
                    {% elif short_val > 0.0 %}
                        <td style="text-align:right">-</td>
                        <td style="text-align:right">{{ short_val|intcomma|decimalise }}</td>
                    <script>
                        $('tr[id='+'{{forloop.counter}}'+']').addClass('invalid-row');
                    </script>
                    {% else %}
                        <td style="text-align:right">-</td>
                        <td style="text-align:right">-</td>
                    {% endif %}
                </tr>
                {% endwith %}
                {% endfor %}
                <tr>
                    <td colspan="4">Total</td>
                    <td style="text-align:right">{{ data|total_short|intcomma|decimalise }}</td>
                    <td style="text-align:right">{{ data|total_excess|intcomma|decimalise }}</td>
                </tr>
                </tbody>
            </table>
    </div>
    {% endfor %}

    <!-- /.tab-content -->
</div><!-- /.tabbable -->


<script type="text/javascript">

            $(document).ready(function(){
                $('.date-picker').datepicker({
                    endDate:'0d',
                    format: 'mm/dd/yyyy',

                });

                $("#year_select").select2();
                $("#butt").click(function(){
                   var a = $("#year_select").val();
                   window.location= "/day/cash-short-access-report/"+a;
                });

                var this_month = new Date().getMonth() + 1;
                var el = "#pagination"+this_month;
                var temp = this_month;
                $(el).parent().attr('class', 'active');
                $('.mytable').hide();
                $("#"+temp).show();

                $('#day-journal-date').click(function(){
                    $('div.datepicker').removeAttr('style');
                    $('div.datepicker').css({
                        'display': 'block',
                         'top': '229px',
                          'left': '992px'
                    });
                });

        })
        $("#day-journal-selection-button").click(function(){
            var a = $("#day-journal-date").val();
            if(a!='undefined' && a!=""){
                a = a.split('/');
                var temp = a[2]+'-'+a[0]+'-'+a[1];
                window.location = "/day/"+temp;
            }
            else{
                //$("#day-journal-date").datepicker('update', new Date());
                window.location = "/day/";
            }

        });

        $('.page').click(function(){
            var a = $(this).attr('id');
            $('.mytable').hide();
            a = a.replace('pagination', '');
            a = Number(a);
            $('#'+a).show();
        });
 </script>



{% endblock %}


