<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Accment | Accounting Simplified</title>
    <link href="{{ STATIC_URL }}website/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}website/css/font-awesome.min.css">
    <link href="{{ STATIC_URL }}website/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}website/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}website/js/html5shiv.js"></script>
    <script src="{{ STATIC_URL }}website/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}website/images/ico/favicon.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}website/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}website/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}website/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}website/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#services">Features</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <a href="/user/login/" class="pull-right btn btn-primary btn-lg" style="margin-top:20px;">Log In</a>
                </div>
            </div>
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Intuitive and Simple</h1>
                        <p class="lead">Accment is built around the core principle of simplicity so you'll just love playing around with all the features.</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Reliable and Cloud Based</h1>
                        <p class="lead">Accment is ensured to be highly available and reliable app by using cutting edge technologies.</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-briefcase icon-md icon-color1"></i>
                            <h4>Real-time Accounting</h4>
                            <p>Online: you can access your accounts whenever and wherever you want. Financial Reporting is on real time</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-folder-open icon-md icon-color2"></i>
                            <h4>Document Management</h4>
                            <p>Upload and attach relevant documents with vouchers, view them online, share them with your team members. Collaborating has never been easier.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-magic icon-md icon-color3"></i>
                            <h4>Easy Book Keeping</h4>
                            <p>Simple: Basic idea of Accment team is to make sure it can be used by non-accountant. Basic idea of Accment team is to make sure it can be used by non-accountant.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-check icon-md icon-color4"></i>
                            <h4>Day Journal</h4>
                            <p>Do not have to worry about what is debit and what is credit just enter what you have paid and
                            received everything will be automatically accounted.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-calendar icon-md icon-color5"></i>
                            <h4>Payroll Hour/Day Calculator</h4>
                            <p>Calculation of hours or days worked by employees can be calculated on tip as specially designed vouchers will enable you to calculate directly from hour attendance slips.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="gas-pump icon-md icon-color6"></i>
                            <h4>Lotto and Fuel Inventory</h4>
                            <p>Very handy and unique way to calculate your lotto inventory and fuel. Very useful to track your losses here.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <!--<section id="portfolio">-->
        <!--<div class="container">-->
            <!--<div class="box">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4 col-sm-6">-->
                        <!--<div class="center">-->
                            <!--<i class="icon-apple icon-md icon-color1"></i>-->
                            <!--<h4>Real-time Accounting</h4>-->
                            <!--<p>Online: you can access your accounts whenever and wherever you want. Financial Reporting is on real time</p>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6">-->
                        <!--<div class="center">-->
                            <!--<i class="icon-android icon-md icon-color2"></i>-->
                            <!--<h4>Document Management</h4>-->
                            <!--<p>Upload and attach relevant documents with vouchers, view them online, share them with your team members. Collaborating has never been easier.</p>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6">-->
                        <!--<div class="center">-->
                            <!--<i class="icon-windows icon-md icon-color3"></i>-->
                            <!--<h4>Easy Book Keeping</h4>-->
                            <!--<p>Simple: Basic idea of Accment team is to make sure it can be used by non-accountant. Basic idea of Accment team is to make sure it can be used by non-accountant.</p>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6">-->
                        <!--<div class="center">-->
                            <!--<i class="icon-html5 icon-md icon-color4"></i>-->
                            <!--<h4>Day Journal</h4>-->
                            <!--<p>Do not have to worry about what is debit and what is credit just enter what you have paid and-->
                            <!--received everything will be automatically accounted.</p>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6">-->
                        <!--<div class="center">-->
                            <!--<i class="icon-css3 icon-md icon-color5"></i>-->
                            <!--<h4>Payroll Hour/Day Calculator</h4>-->
                            <!--<p>Calculation of hours or days worked by employees can be calculated on tip as specially designed vouchers will enable you to calculate directly from hour attendance slips.</p>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                    <!--<div class="col-md-4 col-sm-6">-->
                        <!--<div class="center">-->
                            <!--<i class="icon-thumbs-up icon-md icon-color6"></i>-->
                            <!--<h4>Lotto and Fuel Inventory</h4>-->
                            <!--<p>Very handy and unique way to calculate your lotto inventory and fuel. Very useful to track your losses here.</p>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.col-md-4&ndash;&gt;-->
                <!--</div>&lt;!&ndash;/.row&ndash;&gt;   -->
            <!--</div>&lt;!&ndash;/.box&ndash;&gt;-->
        <!--</div>&lt;!&ndash;/.container&ndash;&gt;-->
    <!--</section>&lt;!&ndash;/#portfolio&ndash;&gt;-->

    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>See our Pricings</h2>
                    <p class="lead">We have very simplified pricing plan per month per company.<br>We can also provide custom pricing upon user requests for specific features.</p>
                </div><!--/.center-->   
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-6">
                        <ul class="plan featured">
                            <li class="plan-name">Basic</li>
                            <li class="plan-price">$45 per Month</li>
                            <li>Unlimited Entries</li>
                            <li>Unlimited Users</li>
                            <li>Standard Support</li>
                            <li>1 company</li>
                            <li>1 month usage free of cost</li>
                            <li class="plan-action"><a href="/user/register/" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-6">
                        <ul class="plan">
                            <li class="plan-name">Premium</li>
                            <li class="plan-price">Price Negotiable</li>
                            <li><a href="mailto:marketing@accment.com?subject=Request Pricing For Premium Plan">Send pricing request to marketing@accment.com</a></li>
                            <li>All of Basic Plan</li>
                            <li>Dedicated Support</li>
                            <li>Data Entry</li>
                            <li>1 company</li>
                            <li class="plan-action"><a href="mailto:marketing@accment.com?subject=Request Pricing For Premium Plan" class="btn btn-primary btn-lg">Request for Pricing</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div> 
            </div> 
        </div>
    </section><!--/#pricing-->


    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Us</h1>
                        <p>Feel free to leave message. You can ask for a more detailed information and ask for a human
                        communication or simply you can say hello.</p><br/>
                        <ul class="icons-ul">
                          <li><i class="icon-li icon icon-user" style="color:white;"></i>For support: <a href="mailto:support@accment.com?subject=Support Ticket"style="color:yellow;">support@accment.com</a></li>
                          <li><i class="icon-li icon icon-briefcase" style="color:white;"></i>For marketing: <a href="mailto:marketing@accment.com?subject=Information Request" style="color:green;">marketing@accment.com</a></li>
                          <li><i class="icon-li icon icon-thumbs-up" style="color:white;"></i>For partners: <a href="mailto:partners@accment.com?subject=Partnership Inquiry" style="color:dodgerblue;">partners@accment.com</a></li>
                          <li><i class="icon-li icon icon-smile" style="color:white;"></i>For getting in touch: <a href="mailto:get-in-touch@accment.com?subject=Hello" style="color:white;">get-in-touch@accment.com</a></li>
                        </ul>

                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Our Address</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>Acubor, LLC.</strong><br>
                                    1880 Hylan Boulevard 2L-6<br>
                                    Staten Island, NY 10305<br>
                                    <abbr title="Phone">P:</abbr> (347) 825-9917
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong>Acubor, LLC.</strong><br>
                                    1880 Hylan Boulevard 2L-6<br>
                                    Staten Island, NY 10305<br>
                                    <abbr title="Phone">P:</abbr> (347) 825-9917
                                </address>
                            </div>
                        </div>
                        <h1>Connect with us</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="https://www.facebook.com/pages/Accment/236457616553742"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                    <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2014 <a target="_blank" href="https://www.acubor.com/" title="Professional Accounting Solutions.">Acubor LLC</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{{ STATIC_URL }}website/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}website/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}website/js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}website/js/jquery.prettyPhoto.js"></script>
    <script src="{{ STATIC_URL }}website/js/main.js"></script>
</body>
</html>